body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{
    margin:0;
    padding:0;
}
body{
    line-height: 1.6em;
    font-family: "宋体",Arial;
    background-color: #dddddd;
}
img{
    width: 100%;
}
.content-wrap{
    width: 100%;
    float: left;
}
.content-one,.content-two,.content-images,.content-form,.content-table{
    margin: 30px 30px 30px 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px grey;
}
h2{
    line-height: 2em;
}
h3,h3+p{
    line-height: 2em;
    color: grey;
}
h3+p+p{
    text-indent: 2em;
}
.header{
    width: 100%;
    height: 60px;
    background-color: #333333;
}
.header img{
    margin-left:30px;
    float: left;
    width: 120px;
}
.header ul{
    display: flex;
    float: right;
}
.header li{
    color: black;
    line-height: 40px;
    margin: 10px;
    float: left;
}
.header li a{
    color: #fff;
}
.header li a:hover {
    color: #aaa;
}
.outer-wrap{
    float: left;
    width: 100%;
    margin-left: -430px;
}
.inner-wrap{
    float: left;
    margin-left: 430px;
}
.content-two li{
    margin-left: 100px;
    list-style: none;
}
.content-images{
    min-height: 100px;
    max-height: 1000px;
}
.content-images div{
    width: 150px;
    height: 150px;
    margin: 20px;
    float: left;
    border: 1px solid grey;
}
.content-images div p{
    text-align: center;
}
.content-images div img{
    width: 100%;
}
.content-table{
    clear: both;
}
.content-table li{
    margin-left:100px;
}
.content-table table{
    width: 100%;
    border-collapse:collapse ;//边框重叠
}
.content-table thead{
    color: white;
    background-color: black;
}
.content-table tfoot{
    background-color: #bcbeb8;
}
.content-form{
    float: right;
    width:350px;
    height: 650px;
}
.content-form-stub{
    width: 5px;
    height: 50px;
    background-color: #bcbeb8;
    float: left;
}
.content-form h2{
    margin-left: 15px;
}
.content-form-top{
    float: left;
}
.content-form-left{
    width: 40%;
    float: left;
    margin-top: 50px;
    clear: both;
    text-align: right;
    line-height: 2em;
}
.content-form-left div{
    margin-right: 15px;
}
.content-form-right{
    width: 50%;
    float: left;
    margin-top: 50px;
    line-height: 2em;
}
.content-form-right p{
    font-size: small;
    color: grey;
}
.content-form-footer{
    width: 100%;
    text-align: center;
    float: left;
    background-color: #3355cf;
    border-radius:15px;
}
.content-submit{
    /*vertical-align: middle;*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*垂直居中*/
    color: white;
    font-size: larger;
    border: none;
    background-color: #3355cf;
}
.footer{
    clear: both;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: black;
}
.footer p{
    padding-top: 20px;
    color: white;
}